@model Admin.Models.Sınıflar.İkonlar

@{
    ViewBag.Title = "İkonGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ikon Güncelle</h2>
<br />

@using (Html.BeginForm("İkonGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.Id)
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.İkon)
    @Html.TextBoxFor(x => x.İkon, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Link)
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">İkon Güncelle</button>

}
