@using Admin.Models.Sınıflar
@model List<Anasayfa>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <link rel="stylesheet" href="~/WebKişiselProje/style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <div class="center">
        <div class="avatar">
            @foreach(var x in Model)
            {
                <img src="@x.Profil" >
            }
            
        </div>
        <div class="content">
            @foreach (var x in Model)
            {
                <h1>@x.İsim</h1>
                <h2>@x.Unvan</h2>
                <p>
                    @x.Aciklama
                </p>
                <h3>@x.İletisim</h3>
            }
            
        </div>
       @*  @Html.Action("İkonlar", "Anasayfa") *@


        <div class="social">
            <a href="https://www.linkedin.com/in/grbzemir/"
               target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/grbzemir" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://x.com/grbzemirr" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/grbzemir/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>

    </div>
</body>
</html>